/* Setting CSS for home.ejs */
.form {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 1px solid width;
  }
  
  body {
    background-color: rgb(30, 46, 51);
    margin: 0 20%;
    height: auto;
  }
  
  .file-list {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .file-list p {
    color: green;
  }
  
  .main-body {
    background-color: #16170c;
  }
  
  .container {
    align-content: center;
    text-align: center;
  }
  
  #text {
    text-align: center;
  }
  
  #text-body {
    background-color: white;
    border-bottom: solid;
    padding-top: 4px;
  }
  
  #file1 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
  }
  
  #file1:hover {
    cursor: pointer;
  }
  
  #submit {
    background-color: #c74900;
    outline: none;
    color: whitesmoke;
    width: 105px;
    margin-right: 10px;
    height: 35px;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  #submit:hover {
    cursor: pointer;
    background-color: #f03c0a;
  }
  